///////////////////////////////////////////////////////////
// Typography                               (Base mixin) //
///////////////////////////////////////////////////////////

// Font scaffold //////////////////////////////////////////

// Base size (1rem)
$base:         16px;
$baseline:     1.5;

// Fontfaces
$font:         "Aperçu", "Roboto", sans-serif;

// Weights
$thin:         100;
$extralight:   200;
$light:        300;
$normal:       400;
$regular:      $normal;
$medium:       500;
$bold:         700;
$super:        900;

// Modular scale settings
// www.modularscale.com/?16&px&1.125
$modularscale: (
  base:        1rem,
  ratio:       1.125,
);

// Expands vendor's `ms` function
@function modularscale($size, $t: null) {
  @if $t == null {
    @return ms($size);
  } @else {
    @return ms($size, $thread: $t);
  }
}

